body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.nav {
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    background: #0D324D;
}

.nav-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-button {
    margin: 30px;
}

.nav-button a {
    color: #E0542A;
    font-family: Lato;
    text-decoration-line: none;
    font-size: 27px;
}

.grow a{
    color: #FDFDFD;
    text-decoration-line: none;
    font-family: Lato;
    font-size: 18px;
}

.nav-button a:hover{
    color: #E0542A;
    transition: all .3s ease-in-out;
}

.logo {
    height: 40px;
    margin: 30px;
}

.grow {
    transition: all .3s ease-in-out;
}

.grow:hover {
    transform: scale(1.5);
}

.orange {
    background: #E0542A;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h1 {
    color: #FDFDFD;
    font-family: Lato;
    font-size: 96px;
    margin: 30px;
    width: 900px;
    text-align: center;
}

.slide1 {
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: center;
}

.product1 {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-top: 50px;
    padding-left: 50px;
}

.product{
    height: 300px;
    border-radius: 20px;
}

.slide-info {
    margin: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.roast {
    display: flex;
    align-items: center;
    justify-content:flex-start;
}

.bean {
    height: 20px;
    padding-left: 5px;
}

.slide-info h2, p {
    color: #0D324D;
}

.slide-info h1 {
    color: #FFB400;
}


h1, h2, h3, p, a, button{
    margin: 5px;
    font-family: Lato;
}

.product1 button {
    background: #0D324D;
    border-radius: 8px;
    color: #FFB400;
    font-size: 20px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}


.nav2 {
    background:#FFB400;
    display: flex;
    align-items: center;
    justify-content: center;

}
.nav2 img {
    height: 150px;
    width: 150px;
}
.nav2 a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 200px;
    color: #0D324D;
    text-decoration: none;
}

.nav2 a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.nav2-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    margin-bottom: 25px;

    width: 200px;
    color: #0D324D;
}

.banner-location {
    display: flex;
    flex-direction: column;
    background:#0D324D;
}

.banner-location h1, .banner-location h2 {
    color: #FFB400;
    width: 400px;
}

.top-left {
    display: flex;
    align-items: center;
    padding: 20px;
}
.top-left img {
    height: 70px;
    width: 70px;
}

.bottom-right {
    display: flex;
    padding: 20px;
    flex-direction: row-reverse;
    text-align: right;
}


.footer {
    background:#FDFDFD;
    color: #0D324D;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    cursor: pointer;
}